@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body { 
    background-color: #ebebeb;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    padding: 20px;
}

.game-cell {
    background-color: white;
    border: 2px solid black;
    font-size: 5rem;
    text-align: center;
}

.game-cell:hover {
    cursor: pointer;
    color: #b3e3ff;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.game-result {
    padding: 10px;
    color: #4e88aa;
}

#player-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

label {
    padding-right: 5px;
}

input {
    width: 200px;
    height: 15px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #383838;
}

input:focus {
    border: 2px solid #b3e3ff;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

button {
    cursor: pointer;
    border: 1px solid #383838; 
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #b3e3ff;
    color: #111111;
    width: 112px;
    font-size: 1rem;
}
